.blog-list {
    @include block-common;

    &__posts, &__year, &__month {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: small;
    }

    &__year, &__month {
        padding-left: 1em;
    }

    &__date {
        font-size: smaller;
    }
}