.content-block {
    @include block-common;

    img {
        max-width: 100%;
    }

    code {
        white-space: pre-wrap;
    }

    &__date {
        font-size: x-small;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
}