<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content='text/html' http-equiv='Content-Type' />
    <meta content='text/css' http-equiv='Content-Style-Type' />
    <meta content='interest-cohort=()' http-equiv='Permissions-Policy' />
    <title>D A N&nbsp;&nbsp;&nbsp;C O R D E R - {{page.title}}</title>
    <link href="/assets/css/styles2.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/27a1c0ab-2f26-4137-8fdf-f89de508f623">
  </head>
  <body>
    <div id='header'>
      <div id='navigation'>
        <a href='/index'>Home</a>
        <a href='/links'>Links</a>
        <a href='http://dancorder.smugmug.com'>Photos</a>
        <a href='/blog'>Blog</a>
        <a href='/thief'>Thief</a>
        <a href='/til'>T.I.L.</a>
      </div>
    </div>
    <div id='main'>
      <div id='content'>{{ content }}</div>
      <div id='sidebar'>This is the sidebar</div>
    </div>
  </body>
</html>