<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D A N&nbsp;&nbsp;&nbsp;C O R D E R - {{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" media="all" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <!-- Opt out of Google FLoC -->
    <meta content='interest-cohort=()' http-equiv='Permissions-Policy' />
    <!-- TODO Add favicons -->
  </head>
  <body>
    <div class='header'>
      <div class='header__site-name'>DanCorder.com</div>
      <div class='header__navigation'>
        <a href='/index'>Home</a>
        <a href='/links'>Links</a>
        <a href='http://dancorder.smugmug.com'>Photos</a>
        <a href='/thief'>Thief</a>
        <a href='/blog'>Blog</a>
        <a href='/til'>T.I.L.</a>
        <a href='/CrosswordCreator'>Crossword Creator</a>
      </div>
    </div>
    <div class='main'>
      {{ content }}
    </div>
  </body>
</html>