<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content='text/html' http-equiv='Content-Type' />
    <meta content='text/css' http-equiv='Content-Style-Type' />
    <title>D A N&nbsp;&nbsp;&nbsp;C O R D E R - {{page.title}}</title>
    <link href="assets/css/styles.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/27a1c0ab-2f26-4137-8fdf-f89de508f623">
  </head>
  <body>
    <div id='header'>
      <div id='siteName'>DanCorder.com</div>
      <div id='navigation'>
        <a href='index.html'>Home</a>
        <a href='links.html'>Links</a>
        <a href='http://dancorder.smugmug.com'>Photos</a>
        <a href='http://dancorder.blogspot.com'>Blog</a>
        <a href='thief.html'>Thief</a>
      </div>
    </div>
    <div id='content'>{{ content }}</div>
    <div id='footer'>
      <div class='left'></div>
      <div class='middle'></div>
      <div class='right'></div>
    </div>
  </body>
</html>